* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(227, 241, 241);
  color: rgb(37, 5, 5);
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.book {
  background-color: rgba(250, 246, 240, 0.966);
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  width: min-content;
}

.book h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.book h4 {
  font-size: 0.75rem;
  color: darkred;
  margin-top: 0.25rem;
}

.book img {
  width: 20rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
